body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.navbar-dark .navbar-brand {
  color: #ffd154 !important;
  text-transform: uppercase !important;
  font-weight: 500;
}

.btn-primary {
  background-color: #f0c040 !important;
  color: #000000 !important;
}

.rating span {
  color: #ffc000;
}

.card a {
  text-decoration: none;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  border: 1px solid #333;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-infor {
  padding: 1rem;
}

/* ProductScreen  */

/* text-skip */
.screen-skip {
  font-size: 50px;
  text-align: center;
  margin-top: 50%;
  text-transform: uppercase;
}

/* Img */
.img-larger {
  max-width: 100%;
}
