body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  border: 1px solid #333;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-infor {
  padding: 1rem;
}
